<div class="jumbotron">
    <h2>Types of engines</h2>
    <ul>
        <li *ngFor="let engine of engines">
            {{engine}}
        </li>
    </ul>
</div>
<div class="panel panel-default">
    <h2>Try racing your supercars</h2>
    <div class="well">
        <h3>Lamborghini Aventador</h3>
        <button class="btn btn-primary" (click)="onRace()" [class.raceTimes]="">Dyno run</button>
        <p class="raceTimes"><b>Finish time: {{raceTime}}s</b></p>
        <h3>Ferrari 918 Spyder</h3>
        <button class="btn btn-primary" (click)="onRace()">Dyno run</button>
        <h3>McLaren P1 GTR</h3>
        <button class="btn btn-primary" (click)="onRace()">Dyno run</button>
    </div>
    
</div>